html,
body {
  width: 100%;
  height: 100%;
}

.deck {
  width: 110px;
  height: 170px;
  margin: 20px;

  border: 2px solid black;

  border-radius: 20px;
}

.foundation {
  width: 110px;
  height: 170px;
  margin: 20px;

  border: 2px solid black;

  border-radius: 20px;
}

.foundations {
  display: flex;
}

.upperRow {
  width: 100%;
  height: 40%;

  display: flex;
  justify-content: space-around;
}
